%script
  $(document).ready(function() {startRRGraphPlotting();})



- @rr_data.values.first.each do |height, axes_tree|
  %div
    %strong= height.to_s
  .clear

  - axes = %w(x y)
  - axes.each do |axis|
    - graph_data = {}

    - reader_powers_to_show = ['sum', 'product']
    - axes_tree[axis].select{|k,v|reader_powers_to_show.include? k}.each do |reader_power, function_data|
      - graph_data[reader_power] = function_data

    - div_id = 'graph_' + height.to_s + '_' + axis.to_s
    .graph{:style => 'float:left;'}
      = axis
      %div{:id => div_id, :style => 'width:650px;height:400px;'}
        &nbsp;
    %script
      rr_graphs_data['#{div_id}'] = #{graph_data.to_json.html_safe}

  .clear

.clear

%pre
  = @rr_data.to_yaml