%script
  var results = #{@results.to_json.html_safe}
  var score_map = #{@score_map.to_json.html_safe}
  $(document).ready(function(){plotDeploymentErrorsMaps(results); plotDeploymentScoreMap(score_map); })

- map_style = 'width:450px;height:428px;top:0;position:absolute;'


- @results.keys.each_with_index do |method_name, i|
  %div{:style => map_style + 'left:' + (i*480).to_s + 'px;', :id => 'error_distribution_'+method_name.to_s}
    &nbsp;
  %div{:style => 'position:absolute; left:' + (i*480).to_s + 'px; top: 440px;', :id => 'data_'+method_name.to_s}
    %div
      %span Data is
      %span __
      %span for point
      %span __
    %div
      %span Average:
      %span= @results[method_name][:result][:average_data]
    %div
      %span Normalized average:
      %span= @results[method_name][:result][:normalized_average_data]
    %div
      %span


%div{:style => 'position:absolute; top:500px; left: 0;'}
  %div{:style => map_style + 'left:0px;', :id => 'score_map'}
    &nbsp;
  %div{:style => 'position:absolute; left:0px; top: 440px; width: 450px;', :id => 'data_score_map'}
    %div
      %span Score is
      %span __
      %span for point
      %span __


%div{:style => 'position:absolute; top:500px;left:500px;'}
  %h1
    Overall data
    - if @optimization_name
      for
      = @optimization_name.to_s.gsub('_', ' ')
  %div
    - @rates.each do |rate, rate_value|
      %div #{rate}: #{rate_value}

  %br

  %div
    = @score.to_s
    (the bigger the better)

  - if @scores
    %div
      %table{:border => 1}
        %thead
          %tr
            %th
            - @scores.values.first.keys.each do |rotation|
              %th
                = rotation.to_s
        %tbody
          - @scores.each do |shift, results_|
            %tr
              %td= shift.to_s
              - results_.each do |rotation, result|
                %td= result.to_s
  %table
    %tr
      %td
        - if @history
          - flattened_history = @history.flatten
          - min_time = flattened_history.sort_by{|e| e[:time]}.first[:time]
          %div
            %h1 Time-score table
            %table{:border => 1}
              %thead
                %tr
                  %th time
                  %th score
              %tbody
                - flattened_history.each do |history_element|
                  %tr
                    %td= (history_element[:time] - min_time).to_s
                    %td= history_element[:score].to_s
      %td
        - if @best_solutions
          %h1 Best solutions json
          %table{:border => 1}
            - @best_solutions.each do |best_solution|
              %tr
                %td= best_solution.score
                %td= best_solution.data.map{|a| [a.coordinates.x, a.coordinates.y, a.rotation]}.to_json

