.graph{:style => 'float:left;'}
  #cdf_div{:style => 'width:650px;height:300px;'}
    &nbsp;
.graph{:style => 'float:right;'}
  #k_graph_div{:style => 'width:650px;height:300px;'}
    &nbsp;



- @algorithms.each_with_index do |(algorithm_name, algorithm), index|
  %div{:class => (if index.even? then 'left' else 'right' end)}
    %div
      = algorithm_name.to_s.capitalize + '.'
    %div
      total found:
      = algorithm.map[0].length
    %div
      average error:
      = algorithm.average_error
    %div.graph
      - chart_id = algorithm_name.to_s + '_map'

      %div.map{:id => chart_id}
        &nbsp;
  - if index.odd?
    %div.clear

  %script
    algorithms['#{algorithm_name.to_s}'] = {cdf: #{algorithm.cdf}, map: #{algorithm.map}}


- if @algorithms.has_key?(:knn) and ! @algorithms[:knn].k_graph.nil?
  %script
    algorithms['knn']['k_graph'] = #{@algorithms[:knn].k_graph}





